<template>
  <div>
    <nuxt-link :to="'/todo'">baligh</nuxt-link>

    update

    <form>
      <input v-model="todo.title" name="title" placeholder="judul" />
      <input
        v-model="todo.completed"
        name="completed"
        type="checkbox"
        placeholder="selesai"
      />
      <input v-model="todo.userId" name="userId" placeholder="usernya" />
      <button @click.prevent="kirim">kirim</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      todo: {}
    }
  },
  mounted() {
    this.getDetail()
  },
  methods: {
    getDetail() {
      this.$axios
        .get('http://localhost:3001/todos/' + this.$route.params.todoId)
        .then((res) => {
          this.todo = res.data || {}
        })
    },
    kirim() {
      this.$axios
        .patch(
          'http://localhost:3001/todos/' + this.$route.params.todoId,
          this.todo
        )
        .then((_) => {
          this.$router.push('/todo')
        })
    }
  }
}
</script>

<style></style>
