<template>
  <div>
    <nuxt-link :to="'/todo'">baligh</nuxt-link>
    <nuxt-link :to="'/todo/' + id + '/edit'">edit</nuxt-link>
    <h1>{{ todo.title }}</h1>
    <p>{{ todo.completed }}</p>
    <p>{{ todo.userId }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      todo: {},
      id: this.$route.params.todoId
    }
  },
  mounted() {
    this.$axios
      .get('http://localhost:3001/todos/' + this.$route.params.todoId)
      .then((res) => {
        this.todo = res.data || {}
      })
  }
}
</script>

<style></style>
