<!DOCTYPE html>
<html>
  <body>
    <div id="app" v-on:hadiah="tambah">
      <!-- <button-counter :initial="10"></button-counter> -->
      <!-- <button-counter></button-counter>
      <button-counter></button-counter> -->

      <!-- <div v-if="show">tampilkan A</div>
      <button @click="toggle">toggle</button> -->
      <!-- <div v-else-if="show === 'B'">tampilkan B</div>
      <div v-else-if="show === 'C'">tampilkan C</div>
      <div v-else>tampolkan</div> -->

      <!-- <jumbotron-ku
        v-for="p in posts"
        v-bind:item="p"
        :title="p.title"
        :content="p.content"
      ></jumbotron-ku> -->

      <anak></anak>
      banyak hadiah: {{ kado }}
    </div>

    <!-- <div id="app2">
      <vm-test v-if="active"></vm-test>
      <button @click="destroyComponent">destroy component!</button>
    </div> -->
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component("anak", {
      template:
        "<button v-on:click=\"$emit('hadiah')\">kasih orang tua ku</button>"
    });

    Vue.component("button-counter", {
      props: {
        initial: {
          default: 0
        },
        indomie: {}
      },
      data: function() {
        return {
          count: 0,
          news: []
        };
      },
      computed: {
        realcount: function() {
          return this.count;
        }
      },
      watch: {
        count: function(newValue) {
          this.realcount = newValue;
          // alert(newValue + ", " + oldValue);
        }
      },
      methods: {
        plusplus: function() {
          this.count++;
        }
      },
      mounted() {
        console.log("mounted");

        this.count = this.initial;
        const news = api.get("https://api.news.com/v1/news");
        this.news = news;
      },
      template:
        '<button v-on:click="plusplus">You {{ initial }} clicked me {{ count }} times. {{ realcount }}</button>'
    });

    Vue.component("jumbotron-ku", {
      props: ["item", "title", "content"],
      data: function() {
        return {
          count: 0
        };
      },
      template: `
          <div class="col-md-4">
              <h2>{{ item.title }}</h2>
              <p>
                {{ item.content }}
              </p>
              <p>
                <a class="btn btn-secondary" role="button"
                  >View details &raquo;</a
                >
              </p>
            </div>
          `
    });

    new Vue({
      el: "#app",
      data: {
        enak: "indomie",
        message: "Hello Vue!",
        show: true,
        kado: 0,
        posts: [
          { title: "tile1", content: "lorem ipsum dolor sit amet" },
          { title: "tile2", content: "indomie goreng enak bakar" },
          { title: "tile3", content: "asik asik mantap mantap" },
          { title: "tile4", content: "asik asik mantap mantap" },
          { title: "tile5", content: "asik asik mantap mantap" }
        ]
      },
      methods: {
        tambah: function() {
          this.kado = this.kado + 1;
        },
        toggle: function() {
          this.show = !this.show;
        }
      }
      // beforeMount() {
      //   console.log("before mounted");
      // },
      // mounted() {
      //   console.log("mounted");
      // },
      // destroyed() {
      //   console.log("destroy");
      // }
    });

    Vue.component("vm-test", {
      template: `
      <div id="debug">{{ data }}</div>
    `,
      data() {
        return {
          data: "component data"
        };
      },
      mounted() {
        console.log("mounted");
      },
      beforeDestroy() {
        console.log("before destroy");
        console.log(document.getElementById("debug"));
        // element id 'debug' null, berhasil di destroy oleh parent template
      },
      destroyed() {
        console.log("destroyed");
        console.log(document.getElementById("debug"));
        // element id 'debug' null, berhasil di destroy oleh parent template
      }
    });

    // var app2 = new Vue({
    //   el: "#app2",
    //   data() {
    //     return {
    //       active: true
    //     };
    //   },
    //   methods: {
    //     destroyComponent() {
    //       this.active = !this.active;
    //     }
    //   }
    // });
  </script>
</html>
