<template>
  <div>
    <nuxt-link :to="'todo'">baligh</nuxt-link>

    create

    <form>
      <input v-model="todo.title" name="title" placeholder="judul" />
      <input
        v-model="todo.completed"
        name="completed"
        type="checkbox"
        placeholder="selesai"
      />
      <input v-model="todo.userId" name="userId" placeholder="usernya" />
      <button @click.prevent="kirim">kirim</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      todo: {}
    }
  },
  methods: {
    kirim() {
      this.$axios.post('http://localhost:3001/todos', this.todo).then((_) => {
        this.$router.push('/todo')
      })
    }
  }
}
</script>

<style></style>
