<template>
  <div>
    <h1>Todo List</h1>
    <nuxt-link to="/todo/create"><button>create todo</button></nuxt-link>
    <p v-if="isError">error bre</p>
    <p v-else-if="isEmpty">kosong mas</p>
    <table v-else-if="!isLoading" border="1 solid">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Status</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <ListItem
          v-for="todo in todos"
          :id="String(todo.id)"
          :key="String(todo.id)"
          :title="todo.title"
          :status="todo.completed"
          @refresh-dong="getData"
        ></ListItem>
      </tbody>
    </table>
    <b-spinner v-else label="Spinning"></b-spinner>
    <!-- <b-table striped hover :items="todos"></b-table> -->
  </div>
</template>

<script>
import Axios from 'axios'
import ListItem from '~/components/list-item'

export default {
  components: { ListItem },
  data() {
    return {
      todos: [],
      isError: false,
      isEmpty: false,
      isLoading: false
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      this.isLoading = true

      try {
        const res = await Axios.get('http://localhost:3001/todos')
        this.todos = res.data

        if (this.todos.length === 0) {
          this.isEmpty = true
        }
      } catch (err) {
        console.error(err)

        this.isError = true
      }

      this.isLoading = false

      // STYLE JADUL
      // Axios.get('https://jsonplaceholder.typicode.com/todos')
      //   .then((res) => {
      //     this.todos = res.data

      //     if (this.todos.length === 0) {
      //       this.isEmpty = true
      //     }

      //     this.isLoading = false
      //   })
      //   .catch((err) => {
      //     console.error(err)

      //     this.isError = true
      //     this.isLoading = false
      //   })
    }
  }
}
</script>

<style scoped></style>
