<template>
  <tr>
    <td>{{ id }}</td>
    <td>{{ title }}</td>
    <td>{{ status }}</td>
    <td>
      <nuxt-link :to="'/todo/' + id">view</nuxt-link>,
      <nuxt-link :to="'/todo/' + id + '/edit'">edit</nuxt-link>,
      <button @click="hapus">delete</button>
    </td>
  </tr>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    status: Boolean
  },
  methods: {
    hapus() {
      const setuju = confirm('anda yakin?????????')
      if (!setuju) {
        return
      }
      const setuju2 = confirm('yakin nih?????????')
      if (!setuju2) {
        return
      }
      const setuju3 = confirm('serius?????????')
      if (!setuju3) {
        return
      }
      const setuju4 = confirm('beneran ya?????????')
      if (!setuju4) {
        return
      }

      this.$axios.delete('http://localhost:3001/todos/' + this.id).then((_) => {
        this.$emit('refresh-dong')
      })
    }
  }
}
</script>

<style></style>
